services:
  web:
    image: ${WEB_REGISTRY}
    container_name: web
    mem_limit: 512m
    mem_reservation: 256m
    environment:
      - NODE_ENV=production
      - NUXT_PUBLIC_API_BASE=http://api:8080/v2
    restart: always
    ports:
      - 8080
    # depends_on:
    #   api:
    #     condition: service_started
    networks:
      - agni
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  api:
    image: ${API_REGISTRY}
    container_name: api
    mem_limit: 1g
    mem_reservation: 512m
    environment:
      - DB_URL=${DB_URL}
      - DB_USERNAME=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - SPRING_PROFILES_ACTIVE=prod
    restart: always
    depends_on:
      db:
        condition: service_healthy
    networks:
      - agni
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  db:
    container_name: db
    image: postgres:17-alpine
    restart: always
    shm_size: 128mb
    mem_limit: 512m
    mem_reservation: 256m
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 30s
    volumes:
      - agni_data:/var/lib/postgresql/data
    networks:
      - agni
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  adminer:
    image: adminer
    restart: always
    mem_limit: 256m
    mem_reservation: 128m
    ports:
      - ${ADMINER_PORT}:8080
    networks: 
      - agni
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  agni_data: 
networks:
  agni:
    driver: bridge